<h1>Edit a Set</h1>
<form action="/sets/<%= @setname %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label>Set Name</label>
  <input type="text" disabled name="setname" value="<%=@setname%>">
  <label>List of Videos</label>
  <textarea name="videolist">
    <%=@vids.join("\n")%>
  </textarea>
  <input type="submit">
</form>
