<h1>Edit a Set</h1>
<form action="/sets/<%= @setname %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label>Set Name</label>
  <input type="text" disabled name="setname" value="<%= 'samplevalue' #an @variable goes here instead of a string %>">
  <label>List of Videos</label>
  <textarea name="videolist"><%= 'samplevalue' #an @variable goes here instead of a string %></textarea>
  <input type="submit">
</form>
