<body style="margin:0;">
  <object height="100%" width="100%"><param name="movie" value="http://www.youtube.com/v/<%=@videonumber%>&autoplay=1" /><embed height="100%" src="http://www.youtube.com/v/<%=@videonumber%>&autoplay=1" type="application/x-shockwave-flash" width="100%"></embed></object>
</body>
