<h1> Edit an existing set </h1>
<!-- Action is the URL to which it is submitted, method is method -->

<h2> Form to edit an existing set </h2>
<form action="/sets/<%=@setname%>" method="post">  <!-- Still want the form to take me there.  Before it sends you there, I will investigate if you would like to put or delete -->
	<input type="hidden" name="_method" value="put"> <!-- This puts the thing into the parameter for you -->
	<label>Set Name</label>
	<input type="text" disabled name = "setname" value ="<%=@setname%>"> 
	<label> The list of videos, which you may edit</label>
	<textarea name = "videos"><%= @videos %> </textarea>
	<input type="submit" name="submit" value="Submit Form">
</form>
<!--
<h2> Form to delete an existing set </h2>
<form action="/sets/:setname" method="delete">
	<label>Set Name</label>
	<input type="text" name = "setname">
	<label> List of videos </label>
	<textarea name = "videolist" placeholder = "DO MILEY"></textarea>
	<input type="submit" name="submit" value="Submit Form">
</form>
-->
<!-- Interpret what is in the input, format into a hash in sessions in the main part -->