<h1> Hey ho! </h1>
<form action="/sets" method="post">
	<label>Set Name</label>
	<input type="text" name = "setname">
	<label> List of videos </label>
	<textarea name = "videolist" placeholder = "DO MILEY"></textarea>
	<input type="submit" name="submit" value="Submit Form">
</form>