<!DOCTYPE html>
<html>
<head>
	<title>Youtube sets</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href = "/">Home</a></li>
			<li><a href = "/sets">Sets</a></li>
		</ul>
	</nav>
	
	<%= yield %>
</body>
</html>