<html>
<head>
<title>Sample App</title>
</head>
<body>
<nav>
<ul>
<li><a href="/sets">See All Sets</a></li>
<li><a href="/">Home</a></li>
<li><a href="/sets/new">New Set</a></li>
</ul>
</nav>


</ul>
<%= yield %>
</body>
</html>
