<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/index.css'/>
    
     </head>  
  <body>
  	 <div class="header">
      <title> Random song app! </title>
          <h1> <strong>Welcome to my App!</strong> </h1>
               <h2>Please tell me what you want to do!</h2>
    <div class="content">
    	<a href="/" title="Home">Home</a>
		<a href="/sets/new" title="Create a set">Create a new set!</a> 
		<a href="/params" title="Inspect params">Inspect Params</a>
		<a href="/session" title="Inspect session">Inspect session</a>
		<a href="/sets" title="list all the lists">List the lists</a>
    </div>
</div>

    	 <object height="100%" width="100%"><param name="movie" value="http://www.youtube.com/v/<%=@videonumber%>&autoplay=1" /><embed height="100%" src="http://www.youtube.com/v/<%=@videonumber%>&autoplay=1" type="application/x-shockwave-flash" width="100%"></embed></object>
   
    </body>


    